Repository hmcts/ccd-case-activity-api, pull requests merged in 2019-11, with the labels that each got.

#156 Bumping base chart
  charts/ccd-case-activity-api/Chart.yaml
  charts/ccd-case-activity-api/requirements.yaml
Labels: ns:ccd-case-activity-api-pr-156

#155 Add api version for helm chart
  charts/ccd-case-activity-api/Chart.yaml
Labels: ns:ccd-case-activity-api-pr-155

#158 RDM-5533 Disable X-Powered-By header
  app.js
  web.config
Labels: ns:ccd-case-activity-api-pr-158
