Repository hmcts/ccd-case-activity-api, pull requests merged in 2020-08, with the labels that each got.

#208 Release cut 19.1
  .gitignore
  Jenkinsfile_CNP
  aat/build.gradle
  aat/src/resources/features/F-018/F-018.feature
  aat/src/resources/features/F-018/F-018_Test_Data_Base.td.json
  aat/src/resources/features/F-018/S-001.td.json
  aat/src/resources/features/F-018/S-002.td.json
  aat/src/resources/features/F-018/S-003.td.json
  aat/src/resources/features/F-018/S-004.td.json
  aat/src/resources/features/F-018/S-005.td.json
  aat/src/resources/features/F-018/S-014-Verification-call.td.json
  aat/src/resources/features/common/Case_Creation_Data_Base.td.json
  aat/src/resources/features/common/Standard_Full_Case_Creation_Data.td.json
  aat/src/resources/features/common/Standard_Full_Case_Data.td.json
  aat/src/resources/features/common/Standard_Token_Creation_Data_For_Case_Creation.td.json
  bin/run-yarn-audit.sh
  charts/ccd-case-activity-api/values.preview.template.yaml
  package.json
  yarn.lock
Labels: ns:ccd, prd:ccd, rel:ccd-case-activity-api-pr-208

#210 bump tf provider to sort redis issue
  infrastructure/main.tf
Labels: ns:ccd, prd:ccd, rel:ccd-case-activity-api-pr-210

#215 autowire fta dependencies
  Jenkinsfile_CNP
Labels: ns:ccd, prd:ccd, rel:ccd-case-activity-api-pr-215

#217 enhance pipeline logic per build type
  Jenkinsfile_CNP
  aat/build.gradle
  aat/src/java/uk/gov/hmcts/ccd/caseactivity/befta/CaseActivityTestAutomationAdapter.java
Labels: ns:ccd, prd:ccd, rel:ccd-case-activity-api-pr-217

#218 Rdm 9239
  Jenkinsfile_CNP
  aat/build.gradle
  aat/src/resources/features/F-018/F-018_Test_Data_Base.td.json
  aat/src/resources/features/F-018/S-014-Verification-call.td.json
  aat/src/resources/features/common/Case_Creation_Data_Base.td.json
  aat/src/resources/features/common/Standard_Full_Case_Creation_Data.td.json
  aat/src/resources/features/common/Standard_Full_Case_Data.td.json
  aat/src/resources/features/common/Standard_Token_Creation_Data_For_Case_Creation.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-case-activity-api-pr-218

#219 RDM-9282 - Format Test JSON Data Files - Activity API - initial commit
  aat/src/resources/features/F-000/F-000.feature
  aat/src/resources/features/F-000/S-000.td.json
  aat/src/resources/features/F-018/F-018.feature
  aat/src/resources/features/F-018/F-018_Test_Data_Base.td.json
  aat/src/resources/features/F-018/S-001.td.json
  aat/src/resources/features/F-018/S-002.td.json
  aat/src/resources/features/F-018/S-003.td.json
  aat/src/resources/features/F-018/S-004.td.json
  aat/src/resources/features/F-018/S-005.td.json
  aat/src/resources/features/F-018/S-014-Verification-call.td.json
  aat/src/resources/features/common/Case_Creation_Data_Base.td.json
  aat/src/resources/features/common/Standard_Full_Case_Creation_Data.td.json
  aat/src/resources/features/common/Standard_Token_Creation_Data_For_Case_Creation.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-case-activity-api-pr-219

#222 Rdm 9282
  aat/src/resources/features/F-000/F-000.feature
  aat/src/resources/features/F-000/S-000.td.json
  aat/src/resources/features/F-018/F-018.feature
  aat/src/resources/features/F-018/S-004.td.json
  aat/src/resources/features/common/Case_Creation_Data_Base.td.json
  aat/src/resources/features/common/Standard_Full_Case_Creation_Data.td.json
  aat/src/resources/features/common/Standard_Full_Case_Data.td.json
  aat/src/resources/features/common/Standard_Token_Creation_Data_For_Case_Creation.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-case-activity-api-pr-222

#223 RDM 9342
  .gitignore
  Jenkinsfile_CNP
  aat/.gitignore
  aat/build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-case-activity-api-pr-223
