Repository hmcts/ccd-case-activity-api, pull requests merged in 2020-09, with the labels that each got.

#225 RDM-7780 CCD ITHC: Input Validation
  Jenkinsfile_CNP
  aat/src/resources/features/F-018/F-018.feature
  aat/src/resources/features/F-018/S-004.td.json
  app/routes/activity-route.js
  app/routes/validate-request.js
  package.json
  test/e2e/addActivity-end-to-end-test.spec.js
  test/e2e/getActivities-end-to-end-test.spec.js
  test/spec/app/route/validate-request.spec.js
  yarn-audit-known-issues
  yarn.lock
Labels: ns:ccd, prd:ccd, rel:ccd-case-activity-api-pr-225

#229 fix build
  aat/build.gradle
  aat/src/resources/features/common/Case_Creation_Data_Base.td.json
  aat/src/resources/features/common/Standard_Token_Creation_Data_For_Case_Creation.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-case-activity-api-pr-229

#231 RDM-9482 Fix All Temporarily Suppressed CVEs - Activity Api
  package.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:ccd, prd:ccd, rel:ccd-case-activity-api-pr-231

#230 Release cut 19.2
  .gitignore
  Jenkinsfile_CNP
  aat/.gitignore
  aat/build.gradle
  aat/src/resources/features/F-000/F-000.feature
  aat/src/resources/features/F-000/S-000.td.json
  aat/src/resources/features/F-018/F-018.feature
  aat/src/resources/features/F-018/F-018_Test_Data_Base.td.json
  aat/src/resources/features/F-018/S-001.td.json
  aat/src/resources/features/F-018/S-002.td.json
  aat/src/resources/features/F-018/S-003.td.json
  aat/src/resources/features/F-018/S-004.td.json
  aat/src/resources/features/F-018/S-005.td.json
  aat/src/resources/features/F-018/S-014-Verification-call.td.json
  aat/src/resources/features/common/Case_Creation_Data_Base.td.json
  aat/src/resources/features/common/Standard_Full_Case_Creation_Data.td.json
  aat/src/resources/features/common/Standard_Full_Case_Data.td.json
  aat/src/resources/features/common/Standard_Token_Creation_Data_For_Case_Creation.td.json
  app/routes/activity-route.js
  app/routes/validate-request.js
  package.json
  test/e2e/addActivity-end-to-end-test.spec.js
  test/e2e/getActivities-end-to-end-test.spec.js
  test/spec/app/route/validate-request.spec.js
  yarn-audit-known-issues
  yarn.lock
Labels: ns:ccd, prd:ccd, rel:ccd-case-activity-api-pr-230
