Repository hmcts/ccd-case-activity-api, pull requests merged in 2020-03, with the labels that each got.

#178 Refactor chart for AKS in aat / prod
  app/app-insights/app-insights.js
  app/redis/redis-client.js
  charts/ccd-case-activity-api/.gitignore
  charts/ccd-case-activity-api/Chart.yaml
  charts/ccd-case-activity-api/requirements.yaml
  charts/ccd-case-activity-api/values.aat.template.yaml
  charts/ccd-case-activity-api/values.preview.template.yaml
  charts/ccd-case-activity-api/values.yaml
  config/custom-environment-variables.yaml
  config/default.yaml
  infrastructure/.gitignore
  infrastructure/aat.tfvars
  infrastructure/main.tf
Labels: ns:ccd, rel:ccd-case-activity-api-pr-178

#179 Upgrade deps
  .gitignore
  Dockerfile
  acb.tpl.yaml
  app/job/store-cleanup-job.js
  app/redis/redis-client.js
  app/routes/activity-route.js
  app/routes/add-activity.js
  app/routes/get-activities.js
  app/service/activity-service.js
  app/user/user-resolver.js
  app/user/white-black-list-roles-authorizer.js
  app/util/delayed.js
  package.json
  test/e2e/addActivity-end-to-end-test.spec.js
  test/e2e/getActivities-end-to-end-test.spec.js
  test/e2e/store-cleanup-end-to-end-test.spec.js
  yarn.lock
Labels: ns:ccd, rel:ccd-case-activity-api-pr-179

#180 Enable AKS staging
  Jenkinsfile_CNP
Labels: ns:ccd, rel:ccd-case-activity-api-pr-180

#182 add redis host
  charts/ccd-case-activity-api/Chart.yaml
  charts/ccd-case-activity-api/values.yaml
Labels: ns:ccd, rel:ccd-case-activity-api-pr-182

#183 update redis port
  charts/ccd-case-activity-api/Chart.yaml
  charts/ccd-case-activity-api/values.preview.template.yaml
  charts/ccd-case-activity-api/values.yaml
Labels: ns:ccd, rel:ccd-case-activity-api-pr-183

#184 Add properties volume
  package.json
  server.js
  yarn.lock
Labels: ns:ccd, rel:ccd-case-activity-api-pr-184

#185 RDM-7899-Slack
  Jenkinsfile_CNP
Labels: ns:ccd, rel:ccd-case-activity-api-pr-185

#186 moving to latest nodejs chart
  charts/ccd-case-activity-api/Chart.yaml
  charts/ccd-case-activity-api/requirements.yaml
Labels: ns:ccd, rel:ccd-case-activity-api-pr-186

#187 Go live on AKS
  Jenkinsfile_CNP
Labels: ns:ccd, rel:ccd-case-activity-api-pr-187

#188 Cleaning up terraform
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/ithc.tfvars
  infrastructure/main.tf
  infrastructure/outputs.tf
  infrastructure/perftest.tfvars
  infrastructure/prod.tfvars
  infrastructure/saat.tfvars
  infrastructure/sprod.tfvars
  infrastructure/variables.tf
Labels: ns:ccd, rel:ccd-case-activity-api-pr-188
