Repository hmcts/ccd-case-activity-api, pull requests merged in 2020-11, with the labels that each got.

#227 RDM-9551-TF
  infrastructure/.terraform-version
  infrastructure/main.tf
  infrastructure/state.tf
  infrastructure/variables.tf
  package.json
  yarn.lock
Labels: ns:ccd, prd:ccd, rel:ccd-case-activity-api-pr-227

#237 Release cut 20.1
  Jenkinsfile_CNP
  aat/src/resources/features/F-000/F-000.feature
  aat/src/resources/features/F-018/F-018.feature
  bin/run-yarn-audit.sh
  package.json
  yarn-audit-known-issues
Labels: ns:ccd, prd:ccd, rel:ccd-case-activity-api-pr-237

#238 align fw version with 20.1
  Jenkinsfile_CNP
  aat/build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-case-activity-api-pr-238

#241 Rdm 10197
  Jenkinsfile_CNP
  charts/ccd-case-activity-api/Chart.yaml
  charts/ccd-case-activity-api/values.yaml
  package.json
  test/spec/app/health/health-check.spec.js
  yarn.lock
Labels: ns:ccd, prd:ccd, rel:ccd-case-activity-api-pr-241

#240 Rdm 8934 time based re execution of test data
  Jenkinsfile_CNP
  aat/build.gradle
  aat/src/java/uk/gov/hmcts/ccd/caseactivity/befta/CaseActivityTestAutomationAdapter.java
Labels: ns:ccd, prd:ccd, rel:ccd-case-activity-api-pr-240

#245 adjust autoscaling
  charts/ccd-case-activity-api/Chart.yaml
  charts/ccd-case-activity-api/values.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-case-activity-api-pr-245
