Repository hmcts/ccd-case-activity-api, pull requests merged in 2020-07, with the labels that each got.

#174 Develop
  .gitignore
  Jenkinsfile_CNP
  README.md
  aat/.gitignore
  aat/build.gradle
  aat/gradle/wrapper/gradle-wrapper.jar
  aat/gradle/wrapper/gradle-wrapper.properties
  aat/gradlew
  aat/gradlew.bat
  aat/settings.gradle
  aat/src/java/uk/gov/hmcts/ccd/caseactivity/befta/CaseActivityBeftaMain.java
  aat/src/java/uk/gov/hmcts/ccd/caseactivity/befta/CaseActivityTestAutomationAdapter.java
  aat/src/resources/features/F-000/F-000.feature
  aat/src/resources/features/F-000/S-000.td.json
  app.js
  charts/ccd-case-activity-api/Chart.yaml
  charts/ccd-case-activity-api/values.yaml
  package.json
Labels: ns:ccd, prd:ccd, rel:ccd-case-activity-api-pr-174

#202 Rdm 6501
  Jenkinsfile_CNP
  aat/src/resources/features/F-018/F-018.feature
  aat/src/resources/features/F-018/F-018_Test_Data_Base.td.json
  aat/src/resources/features/F-018/S-001.td.json
  aat/src/resources/features/F-018/S-002.td.json
  aat/src/resources/features/F-018/S-003.td.json
  aat/src/resources/features/F-018/S-004.td.json
  aat/src/resources/features/F-018/S-005.td.json
  aat/src/resources/features/F-018/S-014-Verification-call.td.json
  aat/src/resources/features/common/Case_Creation_Data_Base.td.json
  aat/src/resources/features/common/Standard_Full_Case_Creation_Data.td.json
  aat/src/resources/features/common/Standard_Full_Case_Data.td.json
  aat/src/resources/features/common/Standard_Token_Creation_Data_For_Case_Creation.td.json
  charts/ccd-case-activity-api/values.preview.template.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-case-activity-api-pr-202

#203 RDM-8982 - Introduce security audit to pipeline and fix CVEs
  .gitignore
  Jenkinsfile_CNP
  bin/run-yarn-audit.sh
  package.json
  yarn.lock
Labels: ns:ccd, prd:ccd, rel:ccd-case-activity-api-pr-203

#206 CCD Apps Not Working Develop-to-Develop on Preview
  Jenkinsfile_CNP
Labels: ns:ccd, prd:ccd, rel:ccd-case-activity-api-pr-206

#201 Rdm 8784 helm renovate
  .github/renovate.json
  charts/ccd-case-activity-api/Chart.yaml
  charts/ccd-case-activity-api/requirements.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-case-activity-api-pr-201
