Repository hmcts/ccd-case-activity-api, pull requests merged in 2022-02, with the labels that each got.

#312 CCD-2543: Ignore Fortify scan results
  aat/build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-case-activity-api-pr-312

#315 helm chart update
  charts/ccd-case-activity-api/Chart.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-case-activity-api-pr-315

#317 helm chart update
  charts/ccd-case-activity-api/Chart.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-case-activity-api-pr-317
